<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKBOXEDMEAL;uid=sa;pwd=dsc"/>
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=test;uid=sa;pwd=dsc"/>
  <add name="dbconnlocal" providerName="System.Data.SqlClient" connectionString="server=192.168.1.95;database=TKBOXEDMEAL;uid=tk;pwd=at160115"/>
  <add name="dbconnlocal-ip" providerName="System.Data.SqlClient" connectionString="server=127.0.0.1;database=TKBOXEDMEAL;uid=tk;pwd=at160115"/>
  </connectionStrings>
</configuration>